


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<h1><%="#{@user.username}" %>'s Adventures</h1>

 <% if @user == current_user %>
 <h2> You have logged <%= "#{@user.trails.size}"%> trip(s)</h2>
 <% else %>
 <h2>Trails logged: <%= "#{@user.trails.size}" %></h2>
<% end %>

 <% @user.trails.each do |trail| %>
 <a href="/trails/<%= trail.id %>"><h3><%= trail.name %></h3></a>
 <% end %>
 <% if @user == current_user %>
<h2> Ready to log more trails?</h2>


<h3><a href="/trails/new">YESSS!!</a></h3>


<h3>Need some inspiration to decide your next journey? Check out this video!</h3>
<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/zwhx8pQNpz4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
<% end %>
