
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Edit your entry</h1>

<form action="/trails/<%= @trail.id %>" method='post'>
  <input id='hidden' type='hidden' name='_method' value='patch'>
   Name:<br>
  <input type="text" name="name"  value='<%= @trail.name %>'><br>
   Location:<br>
  <input type="text" name="location" value='<%= @trail.location %>'><br>
    Date:<br>
  <input type="text" name="date"  value='<%= @trail.date %>'><br>
    Distance:<br>
  <input type="text" name="distance" value='<%= @trail.distance %>'><br>
   Notes:<br>
  <input type="text" name="notes" required="true" value='<%= @trail.notes %>'>
  <br></br>


  <input type='submit' id='submit' value='Submit Changes'>
</form>
