
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Edit your entry</h1>
<ul>
<form action="/trails/<%= @trail.id %>" method='post'>
  <input id='hidden' type='hidden' name='_method' value='patch'>

  <li><input type="text" name="name" placeholder="Name" value='<%= @trail.name %>'></li>
  <br></br>
  <li><input type="text" name="location" placeholder="Location" value='<%= @trail.location %>'></li>
  <br></br>
  <li><input type="text" name="date" placeholder="Date" value='<%= @trail.date %>'></li>
  <br></br>
  <li> <input type="text" name="distance" placeholder="Distance" value='<%= @trail.distance %>'></li>
   <br></br>
<li><input type="text" name="notes" required="true" placeholder="Notes" value='<%= @trail.notes %>'></li>
  <br></br>
</ul>
  <input type='submit' id='submit' value='Submit Changes'>
</form>
