
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<h1>Edit your entry</h1>

<form action="/trails/<%= @trail.id %>" method='post'>
  <input id='hidden' type='hidden' name='_method' value='patch'>

  <input type="text" name="name" placeholder="Name" value='<%= @trail.name %>'>
  <br></br>
  <input type="text" name="location" placeholder="Location" value='<%= @trail.location %>'>
  <br></br>
  <input type="text" name="date" placeholder="Date" value='<%= @trail.date %>'>
  <br></br>
  <input type="text" name="distance" placeholder="Distance" value='<%= @trail.distance %>'>
   <br></br>
<input type="text" name="notes" required="true" placeholder="Notes" value='<%= @trail.notes %>'>
  <br></br>

  <input type='submit' id='submit' value='Submit Changes'>
</form>
