<h1>All users's trails</h1>



<% @trails.each do |trail| %>


<a href="/trails/<%= trail.id %>"><h3><%= trail.name %></h3></a>
<b>Location:</b><label><%= trail.location %></label>
<b>Distance (miles):</b> <label><%= trail.distance %></label>


<% end %>


<br></br>

<a href="/logout">Logout</a>

<br></br>

<a href="/users/<%= @user.slug %>">Profile</a>
