

<h1>Trail information:</h1>

  <h3>Trail Name:<%= @trail.name %></h3>
  <br></br>
  Location: <%= @trail.location %>
  <br></br>
  Distance (miles): <%= @trail.distance %>
  <br></br>
  Date: <%= @trail.date %>
  <br></br>
  Notes: <%= @trail.notes %>
  <br></br>





  <form action="/trails/<%= @trail.id %>/edit">
        <input type="submit" value="Edit" />
    </form>
    <% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
  <br></br>

  <% if @user.id %>
    <form action="" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete" id="Delete">
      </form>
      <% end %>
<br>

<p><a href="/trails">View All Trails</a></p>

<a href="/logout">Logout</a>

<!-- <a href="/users/<%= @user.id %>">Homepage</a> -->
