 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <br></br>
  <div class="pull-right">
    <div class="btn-group">

    <a href="/users/<%= @user.slug %>"><button type="button" class="btn btn-primary">Profile</button></a>
    <a href="/trails/<%= @trail.id %>/edit"><button type="button" class="btn btn-success">Edit</button></a>
    </div>
  </div>



  <h2>Trail Name: <%= @trail.name %></h2>


  <h4>Location: <%= @trail.location %></h4>

  <h4>Distance(mi): <%= @trail.distance %></h4>

  <h4>Date: <%= @trail.date %></h4>

  <h4>Notes: <%= @trail.notes %></h4>



  <div class="pull-left">
        <form action="/trails/<%= @trail.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type='submit' value='Delete'>
    </form>
  </div>
