

<h1> Trails visit:</h1>

  <h3>Trail Name:<%= @trail.name %></h3>
  <br></br>
  <%= @trail.location %>
  <br></br>
  <%= @trail.distance %>
  <br></br>
  <%= @trail.date %>
  <br></br>
  <%@trail. notes %>
  <br></br>




  <form action="/trails/<%= @trail.id %>/edit">
        <input type="submit" value="edit" />
    </form>

    <form action="" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="delete" id="Delete">
      </form>
<br>

<p><a href="/trails">View All Trails</a></p>

<a href="/logout">Logout</a>
